.my-journal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: calc(100vh - 100px - 175px);
  background: linear-gradient(to bottom, #87ceeb, white, white, #fdfd96);
  padding: 6rem 20px;

  .done-for-today-p {
    font-size: 35px;
    color: #333;
  }
}
