.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  margin-top: -5rem;
  p {
    font-size: clamp(2rem, 12vw + 2rem, 10rem);
    font-weight: 100;
  }

  button {
    padding: 10px 20px;
    font-size: clamp(0.8rem, 1rem, 1.1rem);
    border: none;
    border-radius: 20px;
    background-color: #ffd1dc;

    &:hover {
      background-color: #fd94ac;
      color: white;
    }
  }
}
