.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;

  p {
    font-size: clamp(2rem, 12vw + 2rem, 10rem);
    font-weight: 100;
  }

  .suggestion-while-timer {
    font-size: clamp(16px, 2vw + 1rem, 20px);
    opacity: 1;
    transition: opacity 0.8s ease-in-out, filter 0.8s ease-in-out;
    filter: blur(0);
    text-align: center;
    margin-top: -1rem;
  }

  button {
    padding: 10px 20px;
    font-size: clamp(0.8rem, 1rem, 1.1rem);
    border: none;
    border-radius: 20px;
    background-color: #ffd1dc;
    box-shadow: 2px 2px 3px #ba9aa1, -2px -2px 3px #ba9aa1;
    margin-top: 10px;

    &:hover {
      background-color: #fd94ac;
      color: white;
    }
  }
}
