.navigation-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  h1 {
    font-size: clamp(1.4rem, 3vw, 2.5rem);
    color: white;
    text-shadow: 2px 2px 2px #708090, -1px -1px 2px #708090;

    &:hover {
      text-shadow: 4px 4px 3px #708090, -2px -2px 3px #708090;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: clamp(14px, 2vw + 0.4rem, 22px);
    color: white;
    text-shadow: 1px 1px 2px #708090, -1px -1px 2px #708090;

    font-weight: bold;
    a:hover {
      text-shadow: 3px 3px 3px #708090, -1px -1px 1px #708090;
    }
  }
}

@media all and (min-width: 768px) {
  .navigation-flex-wrapper {
    justify-content: space-evenly;

    ul {
      gap: 2.5rem;
    }
  }
}
