.carousel {
  position: relative;
  max-width: 600px;
  overflow: hidden; /* Prevent overflow of items */
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}

.carousel:hover {
  transform: scale(1.075);
  opacity: 1;
  /* IMPORTANT Not appropriate for mobile phones */
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.carousel-item {
  min-width: 100%; /* Each item takes the full width */
  display: flex; /* Flexbox for centering text */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  flex-direction: column; /* Stack image and title vertically */
}

/* Add this rule to ensure images have a maximum size but are responsive */
.carousel-image-container {
  max-width: 745px; /* Set the maximum width to 745px */

  width: 100%; /* Makes the container responsive */
  height: auto; /* Allows height to adjust automatically */
  overflow: hidden; /* Prevents overflow of images */
  display: flex; /* Flexbox to center images */
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Center images vertically */
}

/* Adjust the image rules */
.carousel-item img {
  width: 100%; /* Set image width to 100% of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevents images from exceeding container height */
  border-radius: 30px;
  border: 5px solid rgba(231, 255, 47, 0.196);
}

.carousel-item-description {
  padding: 20px;
  text-align: center;
  font-size: clamp(16px, 2vw + 0.5rem, 22px);
  font-style: italic;
}
