footer {
  width: 100%;
  background-color: #fdfd96;
  padding-top: 2rem;
}

.footer-flex-wrapper {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 20px;

  a:hover {
    color: #777;
  }

  .social-media-wrapper {
    text-align: center;

    i {
      padding: 0.7rem;
      margin-top: 1rem;
    }
  }
}

@media all and (min-width: 576px) {
  .footer-flex-wrapper {
    justify-content: space-evenly;
    li {
      text-align: center;
    }
  }
}

.copyright {
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}
